In [2]:
# Dependencies and Setup
import pandas as pd

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv('/home/dan/Documents/Repo/smu-dal-data-pt-09-2021-u-c/02-Homework/04-Pandas/Instructions/HeroesOfPymoli/Resources/purchase_data.csv')

In [3]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
purchase_data.shape

(780, 7)

In [5]:
purchase_data['Price'].mean()

3.0509871794871795

In [6]:
purchase_data['Purchase ID'].count()

780

In [7]:
purchase_data['Price'].sum()

2379.77

In [8]:
purchase_data['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [9]:
Updated = purchase_data.groupby(['Gender']).sum()
Updated['Purchase ID']

Gender
Female                    42870
Male                     255921
Other / Non-Disclosed      5019
Name: Purchase ID, dtype: int64

In [10]:
purchase_data['Price'].mean()

3.0509871794871795

In [11]:
Updated['Price']

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [12]:
Updated2 = purchase_data.groupby(['Gender']).mean()
Updated2['Price']

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [13]:
purchase_data['Age']

0      20
1      40
2      24
3      24
4      23
       ..
775    21
776    21
777    20
778     7
779    24
Name: Age, Length: 780, dtype: int64

In [19]:
# Establish the bins 
age_bins = [0, 10, 15, 20, 25, 30, 35, 40, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
# Display the total number of players
num_players = purchase_data.count()[0]
# Calculate the Numbers and Percentages by Age Group
age_demographics_totals = purchase_data["Age Ranges"].value_counts()
age_demographics_percents = age_demographics_totals / num_players
age_demographics = pd.DataFrame({"Total Count": age_demographics_totals, "Percentage of Players": age_demographics_percents})

# Minor Data Wrangling
age_demographics['Percentage of Players'] = age_demographics['Percentage of Players'].map("{:,.2%}".format)

# Display Age Demographics Table
age_demographics = age_demographics.sort_index()
age_demographics

       Total Count Percentage of Players
<10             32                 4.10%
10-14           54                 6.92%
15-19          200                25.64%
20-24          325                41.67%
25-29           77                 9.87%
30-34           52                 6.67%
35-39           33                 4.23%
40+              7                 0.90%

In [15]:
purchase_data['Price'].iloc[:5]

0    3.53
1    1.56
2    4.88
3    3.27
4    1.44
Name: Price, dtype: float64

In [16]:
purchase_data['Item Name'].iloc[:5]

0    Extraction, Quickblade Of Trembling Hands
1                            Frenzied Scimitar
2                                 Final Critic
3                                  Blindscythe
4                                         Fury
Name: Item Name, dtype: object

In [17]:
# Extract item Data
item_data = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

# Perform basic calculations
total_item_purchase = item_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
average_item_purchase = item_data.groupby(["Item ID", "Item Name"]).mean()["Price"]
item_count = item_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")

# Create new DataFrame
item_data_pd = pd.DataFrame({"Total Purchase Value": total_item_purchase, "Item Price": average_item_purchase, "Purchase Count": item_count})

# Sort Values
item_data_count_sorted = item_data_pd.sort_values("Purchase Count", ascending=False)

item_popularity = item_data_count_sorted.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]

item_popularity.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

In [18]:
# Item Table (Sorted by Total Purchase Value)
item_total_purchase = item_data_pd.sort_values("Total Purchase Value", ascending=False)

item_profitable = item_total_purchase.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]

item_profitable.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80